.wy-nav-content {
    max-width: 90% !important;
}
.red {
    color: #FF5733;
}
.rred {
    color: #FF0000;
}
.blue {
    color: #A927BA;
}
.rblue {
    color: #0000FF;
}
.green {
    color: green;
}
.gray {
    color: #A9A9A9;
}

.footnote-reference {
    vertical-align: super;
    font-size: 80%;
}
a.brackets:before,
span.brackets > a:before {
    content: '[';
}
a.brackets:after, 
span.brackets > a:after {
    content: ']';
}
dl.footnote > dt,
dl.citation > dt {
    float: left;
    margin-right: 0.5em;
    font-size: 90%;
}

dl.footnote > dd,
dl.citation > dd {
    margin-bottom: 0em;
}

dl.footnote > dd:after,
dl.citation > dd:after {
    content: "";
    clear: both;
}
.footnote:target  {
    background-color: #ffa;
}
.highlight pre {
    max-height: 250px;
    overflow: scroll !important;
}
